  <!-- Plugins JS File -->
  <script src="/static/userAssets/js/validation.js"></script>
  <script src="/static/userAssets/assets/js/jquery.min.js"></script>
  <script src="/static/userAssets/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/static/userAssets/assets/js/jquery.hoverIntent.min.js"></script>
  <script src="/static/userAssets/assets/js/jquery.waypoints.min.js"></script>
  <script src="/static/userAssets/assets/js/superfish.min.js"></script>
  <script src="/static/userAssets/assets/js/owl.carousel.min.js"></script>
  <script src="/static/userAssets/assets/js/bootstrap-input-spinner.js"></script>
  <script src="/static/userAssets/assets/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/userAssets/assets/js/jquery.plugin.min.js"></script>
  <script src="/static/userAssets/assets/js/jquery.countdown.min.js"></script>
  
  <!-- Main JS File -->
  <script src="/static/userAssets/assets/js/main.js"></script>
  <script src="/static/userAssets/assets/js/demos/demo-13.js"></script>
</body>


<!-- molla/index-13.html  22 Nov 2019 09:59:31 GMT -->
</html>